# =========================
# Python
# =========================
__pycache__/**
*.py[cod]
.venv/
.venv/Lib/*

# =========================
# Node / Tauri
# =========================
node_modules/
jarvis_avatar_tauri/src-tauri/target/

# =========================
# Local env / secrets (NO subir)
# =========================
.env
.env.local
**/.env.local
